{
    "extends": ["plugin:@typescript-eslint/recommended"],
    "rules": {
        // temporarily
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
    }
}
